DATA_DIR_SOURCE = "./source_data"
DATA_DIR_TARGET = "./staging_data"

LOGS = "logs"
QUERY_MAP_SOURCE_FILE = "query_map.csv"
DATA_DIR_FORMATTED = "./processed_data"   
DELIMITER = "xoxo"
TYPE=" OR "

WAVEFLOWDB_API_KEY = "" 
BASE_URL =  ""   
USER_ID = ""    
NAMESPACE = ""
SESSION_ID = ""
TOP_K = 10

PINECONE_API_KEY = ""
PINECONE_INDEX_NAME = ""
BATCH_SIZE = 1000
MODEL_NAME = "all-MiniLM-L6-v2"

RESULTS_DIR = "./results"
MAX_WORKERS_QUERY = 2
